<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <script src="main.js"></script>
    <h1>nodeJS Pilot Project (EJS)</h1>
    <h3>Welcome! <%=email%></h3>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eaque, modi in eius inventore, magni nam deleniti mollitia dolorem dolores quos! Ipsa illum esse neque ex nostrum sequi, commodi odio autem beatae debitis nisi necessitatibus reiciendis reprehenderit possimus dolorem quibusdam rerum impedit ea repellendus voluptates voluptatem hic assumenda! Id quam asperiores eligendi? Autem sunt repudiandae suscipit dolores labore excepturi accusantium veniam velit debitis sed nulla et explicabo omnis eligendi, voluptatibus quisquam assumenda sit consequuntur molestiae minima eaque numquam. Similique omnis qui illum et voluptates, quo consectetur architecto cupiditate dolor, recusandae voluptatibus quis ipsam nisi hic quibusdam laudantium, ratione voluptatem in.</p>
    <img src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.svg" title="nodejs" alt="nodejs" width="200px" height="100px">
</body> 
</html>
